<!-- data available to work with -->
@model IEnumerable<Page>

@{
    <!-- pass data from action method to a view or from view to view -->
    <!-- store value "Index" in property Title - now availabe to other views -->
    <!-- you can also pass data via View Bag -->
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <!-- use default controller and area for target (/Admin/Pages) -->
    <a asp-action="Create">Create New</a>
</p>
<table class="table sorting" id="pages">
    <thead>
        <!-- Model [Display("Name  = Fruit")] -->
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Model -> atModel IEnumerable<Page> -->
        @foreach (var item in Model)
        {
            <!-- setting class to Slug along with seating header to home makes home page not sortable -->
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @item.Title
                </td>
                <td>
                    <!--  atHtml.DisplayFor(modelItem => item.Slug) -->
                    @item.Slug
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (item.Slug != "home")
                    {
                        <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
		$("table#pages tbody").sortable({
			items: "tr:not(.home)",
			placeholder: "ui-state-highlight",
			update: function () {
				let ids = $("table#pages tbody").sortable("serialize");
				let url = "/admin/pages/reorder";
				$.post(url, ids, function () { });
			}
		});
    </script>
}